In [1]:
import pandas as pd
import pandasql
sql=pandasql.sqldf

In [22]:
!ls ./data

query_one.csv        query_two_mobile.csv query_two_web.csv

In [23]:
mobile=pd.read_csv('data/query_two_mobile.csv')
web=pd.read_csv('data/query_two_web.csv')

In [25]:
mobile.head()

   user_id           page
0      128  page_5_mobile
1     1324  page_2_mobile
2     1343  page_6_mobile
3      930  page_3_mobile
4     1008  page_6_mobile

In [26]:
web.head()

   user_id        page
0     1210  page_1_web
1     1275  page_1_web
2     1283  page_4_web
3     1163  page_4_web
4       96  page_2_web

In [31]:
sql('select count(*) from (select user_id from web\
    union\
    select user_id from mobile)')

   count(*)
0      1833