In [1]:
import pandas as pd
import pandasql
sql=pandasql.sqldf

In [2]:
!ls ./data

query_one.csv        query_two_mobile.csv query_two_web.csv

We have two tables. One table has all mobile actions, i.e. all pages visited by the users on mobile. The other table has all web actions, i.e. all pages visited on web by the users.
Write a query that returns the percentage of users who only visited mobile, only web and both. That is, the percentage of users who are only in the mobile table, only in the web table and in both tables. The sum of the percentages should return 1.

WEB_ONLY: 16
MOBILE_ONLY: 31
BOTH: 52

In [3]:
mobile=pd.read_csv('data/query_two_mobile.csv')
web=pd.read_csv('data/query_two_web.csv')

In [4]:
mobile.head()

   user_id           page
0      128  page_5_mobile
1     1324  page_2_mobile
2     1343  page_6_mobile
3      930  page_3_mobile
4     1008  page_6_mobile

web.head()

In [22]:
sql('select 100*count(distinct user_id)/count(1) from web')

   100*count(distinct user_id)/count(1)
0                                    62

In [19]:
sql('SELECT * FROM mobile m outer join web w on m.user_id =w.user_id')

PandaSQLException: (sqlite3.OperationalError) RIGHT and FULL OUTER JOINs are not currently supported
[SQL: SELECT * FROM mobile m outer join web w on m.user_id =w.user_id]
(Background on this error at: http://sqlalche.me/e/e3q8)