In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(data={"lap": [1,2,3,5,6,7,10,12,13], "time": [5,10,5, 2,4,3,10,5,10]})

In [3]:
df

   lap  time
0    1     5
1    2    10
2    3     5
3    5     2
4    6     4
5    7     3
6   10    10
7   12     5
8   13    10

In [6]:
gap_index=df[df['lap'].diff() > 1].index

In [ ]:
group_time = gap_index
for i in gap_index[::-1]: